#content {
    padding: 10px 20px;
    margin: 10px 10px 60px;
    filter: opacity(0.8);
}

#content * {
    font-weight: 300;
}

pre:has(code), .hljs {
    border-radius: 5px;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    background-color: black !important;
    font-weight: 500 !important;
    font-size: 15px !important;
}

code {
    font-weight: 500 !important;
    font-size: 15px !important;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

span.hljs-keyword {
    color: deepskyblue;
}