#backimg {
    background: url("../img/artimg/2.jpg") center no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

#mainContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#content {
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 60px;
}

#content * {
    font-weight: 300;
}

#article_title {
    padding-left: 30px;
    padding-top: 60px;
}

#article_title h1 {
    font-size: 50px;
    font-style: normal;
    color: rgb(233, 233, 233);
}

#article_title span {
    color: rgb(233, 233, 233);
    margin-right: 10px;
    margin-left: 10px;
}