#title {
    background-size: cover;
    background-position: center;
    height: 600px;
}

#title h1 {
    font-size: 36px;
    font-weight: inherit;
}

h3, h4 {
    font-weight: lighter;
}

#dailyCard h3 {
    font-weight: inherit;
}

#title > div {
    padding-top: 490px;
    padding-left: 100px;
}

#title > div > p {
    font-style: italic;
}

#content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

#musicCard > h3, #musicCard > p {
    padding-left: 10px;
}

#musicCard > h3 {
    padding-top: 10px;
    font-size: 20px;
}

#musicCard > p {
    font-size: 14px;
}

#musicCard > h3 + p {
    font-style: italic;
}

#musicCard .musicIcon {
    width: 40px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
}

div#list {
    padding: 5px 15px;
}

#list div:last-child {
    margin-bottom: 10px;
}

div.listElem {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 5px 15px;
    margin: 0 5px 5px 10px;
    display: none;
}

div.listElem:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

div.listElem:last-child {
    margin-bottom: 20px;
}

#list div > h4 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px 15px;
    margin-bottom: 5px;
}

#list div > h4:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#list a {
    text-decoration: none;
    color: black;
}

#list h4 {
    font-weight: 400;
}

#rightBar {
    padding: 0;
}

#rightBar > #dailyCard {
    padding: 5px 15px;
}

#rightBar > div{
    margin: 15px;
}

#kinds li.kind {
    padding: 8px 15px;
    transition: font-weight 5s ease;
}

#kinds li.kind:hover {
    font-weight: 100;
}

#kinds ul {
    list-style-type: none;
    padding-left: 0;
}

#kinds .kind a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.articleCard:first-child > img + div > h1 {
    margin-top: auto;
}

.articleCard:first-child > img + div {
    display: block;
}


.articleCard:first-child img {
    width: 100%;
    border-radius: 30px;
    padding: 5px 5px 15px;
}

.pull-right{
    float: right;
}

