<!DOCTYPE html>

<!--Nuclear Atom Studio-->
<!--Developed by JackDavidZhang-->
<!--DEV_1.0-->
<!--2022.5.13-->

<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>JackDavidZhang HOME</title>
    <script src="js/jquery-3.6.0.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
    <link href="css/main.css" rel="stylesheet"/>
</head>

<body>
<div id="title">
    <div class="container">
        <div class="row">
            <h1>JackDavidZhang</h1>
            <p>{{sign}}</p>
        </div>
    </div>
</div>
<div class="container" id="content">
    <div class="row">
        <div class="col-md-2">
            <div id="musicCard">
                <h3>{{song}}</h3>
                <p>{{album}}</p>
                <p>{{artist}}</p>
                <div class="row">
                    <div class="musicIcon">
                        <a target="_blank" v-bind:href="wUrl">
                            <img alt="NeteaseCloudMusicIcon" src="img/wyy.png" width="40px"/>
                        </a>
                    </div>
                    <div class="musicIcon">
                        <a target="_blank" v-bind:href="qUrl">
                            <img alt="QQMusicIcon" src="img/qqmusic.png" width="40px"/>
                        </a>
                    </div>
                </div>
            </div>
            <div id="list">
                <div v-for="(list) in lists"><h4>{{list.name}}</h4>
                    <div v-for="(listContent) in list.content"><h6><a
                            v-bind:href="listContent.id|articleUrl">{{listContent.title}}</a></h6></div>
                </div>
            </div>
        </div>

        <div class="col-md-8" id="articleContainer">
            <div class="row articleCard" v-for="(article) in articles">
                <img v-bind:src="article.picture" v-if="article.hasPicture"/>
                <div>
                    <h1><a target="_blank" v-bind:href="article.id|articleUrl">{{article.title}}</a></h1>
                    <p>{{article.time}}</p>
                </div>
                <h3>{{article.introduction}}</h3>
            </div>
        </div>
        <div class="col-md-2" id="rightBar">
            <div class="row" id="dailyCard">
                <h4>{{date.y}}年{{date.m}}月{{date.d}}日 {{date.x}}</h4>
                <h3>{{date.h|number}}:{{date.min|number}}</h3>
            </div>
            <div class="row" id="kinds">
                <ul>
                    <li class="kind" v-for="(kind) in kinds">
                        <a target="_blank" v-bind:href="kind.id|kindUrl">
                            {{kind.name}}
                            <span class="badge pull-right">{{kind.num}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
