<!DOCTYPE html>

<!--Developed by ZTsubaki-->
<!--v 2.0.1-->
<!--2024.12.4-->

<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>ZTsubaki HOME</title>
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"
            type="application/javascript"></script>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.1.3/js/bootstrap.min.js"
            type="application/javascript"></script>
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.prod.min.js"
            type="application/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
</head>

<body>
<div id="loading">
    <h1>LOADING...</h1>
</div>
<script src="js/main.js"></script>
<script src="js/index.js"></script>
<div id="vm">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-hidden">
        <div class="container-fluid">
            <a class="navbar-brand">ZTsuabki</a>
            <button class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./articles.html">文章</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           id="navbarDropdownMenuLink"
                           role="button">
                            分类
                        </a>
                        <ul class="dropdown-menu" id="navbar_kinds">
                            <li><a class="dropdown-item" v-bind:href="kind.url" v-for="kind in kinds">{{kind.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="title">
        <div>
            <h1>ZTsubaki</h1>
            <p>{{sign}}</p>
        </div>
        <div style="height: 10px;padding: 0;margin: 0;backdrop-filter: blur(2px);"></div>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col-md-2">
                <div class="card" id="musicCard">
                    <h3>{{song.name}}</h3>
                    <p>{{song.album}}</p>
                    <p>{{song.artist}}</p>
                    <div>
                        <div class="musicIcon">
                            <a target="_blank" v-bind:href="song.wUrl">
                                <img alt="NeteaseCloudMusicIcon" src="img/wyy.png" width="40"/>
                            </a>
                        </div>
                        <div class="musicIcon">
                            <a target="_blank" v-bind:href="song.qUrl">
                                <img alt="QQMusicIcon" src="img/qqmusic.png" width="40"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card" id="list">
                    <div v-for="(list) in lists"><h4 class="card"><a>{{list.name}}</a></h4>
                        <div class="listElem card" v-for="(listContent) in list.content">
                            <a v-bind:href="listContent.url">{{listContent.title}}</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="articleContainer">
                <div class="card articleCard" v-for="(article) in articles">
                    <img v-bind:src="article.picture" v-if="article.hasPicture"/>
                    <div>
                        <h1><a v-bind:href="article.url">{{article.title}}</a></h1>
                        <p>{{article.time}}</p>
                    </div>
                    <h3>{{article.introduction}}</h3>
                </div>
            </div>
            <div class="col-md-2" id="rightBar">
                <div class="card" id="dailyCard">
                    <h4>{{date.y}}年{{date.m}}月{{date.d}}日 {{date.x}}</h4>
                    <h3>{{date.h}}:{{date.min}}</h3>
                </div>
                <div class="vm_kinds" id="kinds">
                    <ul>
                        <li class="kind card" v-for="(kind) in kinds">
                            <a v-bind:href="kind.url">{{kind.name}}
                                <span class="badge bg-secondary pull-right rounded-pill">{{kind.num}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>Copyright &copy ZTsubaki</p>
    <p>2024 @ ZTsuabki</p>
    <p><a href="./article.html?id=0">关于</a>|<a
            href="https://github.com/JackDavidZhang/JackDavidZhang_HOME/">GitHub</a>
    </p>
</footer>
</body>
</html>
