<!DOCTYPE html>

<!--Nuclear Atom Studio-->
<!--Developed by JackDavidZhang-->
<!--v 1.1.1.230211_RELEASE-->
<!--2023.2.11-->

<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>JackDavidZhang HOME</title>
    <script src="https://cdn.staticfile.org/jquery/3.6.1/jquery.min.js"></script>
    <link crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" href="https://lib.baomitu.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://lib.baomitu.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous" integrity="sha512-PhuYrdDBtBeUjY7KTmjRYFFadw8uXXdTmzZyhCHZewYsqZJ0pxFCwU528jRoil42LXMW3ksegQT5zdjkfiR1IA==" src="https://lib.baomitu.com/vue/2.7.7/vue.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
</head>

<body>
<div id="title">
    <div>
        <h1>JackDavidZhang</h1>
        <p>{{sign}}</p>
    </div>
    <div style="height: 10px;padding: 0;margin: 0;backdrop-filter: blur(2px);"></div>
</div>
<div class="container" id="content">
    <div class="row">
        <div class="col-md-2">
            <div class="card" id="musicCard">
                <h3>{{song}}</h3>
                <p>{{album}}</p>
                <p>{{artist}}</p>
                <div>
                    <div class="musicIcon">
                        <a target="_blank" v-bind:href="wUrl">
                            <img alt="NeteaseCloudMusicIcon" src="img/wyy.png" width="40px"/>
                        </a>
                    </div>
                    <div class="musicIcon">
                        <a target="_blank" v-bind:href="qUrl">
                            <img alt="QQMusicIcon" src="img/qqmusic.png" width="40px"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card" id="list">
                <div v-for="(list) in lists"><h4 class="card"><a>{{list.name}}</a></h4>
                    <div class="listElem card" v-for="(listContent) in list.content">
                        <a target="_blank" v-bind:href="listContent.id|articleUrl">{{listContent.title}}</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="articleContainer">
            <div class="card articleCard" v-for="(article) in articles">
                <img v-bind:src="article.picture" v-if="article.hasPicture"/>
                <div>
                    <h1><a v-bind:href="article.id|articleUrl">{{article.title}}</a></h1>
                    <p>{{article.time}}</p>
                </div>
                <h3>{{article.introduction}}</h3>
            </div>
        </div>
        <div class="col-md-2" id="rightBar">
            <div class="card" id="dailyCard">
                <h4>{{date.y}}年{{date.m}}月{{date.d}}日 {{date.x}}</h4>
                <h3>{{date.h|number}}:{{date.min|number}}</h3>
            </div>
            <div id="kinds">
                <ul>
                    <li class="kind card" v-for="(kind) in kinds">
                        {{kind.name}}
                        <span class="badge pull-right">{{kind.num}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>Copyright &copy NuclearAtomStudio JackDavidZhang</p>
    <p>2022 @ NuclearAtomSoftwareStudio</p>
    <p><a href="./article.html?id=0">关于</a>|<a href="https://github.com/JackDavidZhang/JackDavidZhang_HOME/">GitHub</a>
    </p>
</footer>
<script src="js/main.js"></script>
<script src="js/index.js"></script>
</body>
</html>
