<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="vm_el">{{title}} - 分类 - JackDavidZhang</title>
    <script src="https://cdn.staticfile.org/jquery/3.6.1/jquery.min.js"></script>
    <link crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          href="https://lib.baomitu.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            src="https://lib.baomitu.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-PhuYrdDBtBeUjY7KTmjRYFFadw8uXXdTmzZyhCHZewYsqZJ0pxFCwU528jRoil42LXMW3ksegQT5zdjkfiR1IA=="
            src="https://lib.baomitu.com/vue/2.7.7/vue.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"/>
    <script src="js/main.js"></script>
    <script src="js/kind.js"></script>
    <link href="css/kind.css" rel="stylesheet"/>
</head>
<body>
<div class="container" id="kind_body">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>{{name}}</h1>
            <p>共计{{sum}}项</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="articleContainer">


            <div class="card articleCard" v-for="(article) in articles">
                <img v-bind:src="article.picture" v-if="article.hasPicture"/>
                <div>
                    <h1><a v-bind:href="article.id|articleUrl">{{article.title}}</a></h1>
                    <p>{{article.time}}</p>
                </div>
                <h3>{{article.introduction}}</h3>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
<!--    <div class="row">-->
<!--        <p>- - - - - - - - - -END- - - - - - - - - -</p>-->
<!--    </div>-->
</div>
</body>
<footer>
    <p>Copyright &copy ZTsubaki</p>
    <p>2024 @ ZTsuabki</p>
    <p><a href="./article.html?id=0">关于</a>|<a href="https://github.com/JackDavidZhang/JackDavidZhang_HOME/">GitHub</a>
    </p>
</footer>
</html>